Sandbox/XMLReader/XMLReader/Schema_for_Invoice_Import.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PRIWEB">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FAKTURA" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FAKTURAHUVUD" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element name="H_Posttyp" type="xs:string" />
                    <xs:element name="H_Typ_av_faktura" type="xs:string" />
                    <xs:element name="H_MeddelandeID" type="xs:string" />
                    <xs:element name="H_Fakturanr" type="xs:string" />
                    <xs:element name="H_Fakturadatum" type="xs:dateTime" />
                    <xs:element name="H_Forfallodatum" type="xs:dateTime" />
                    <xs:element name="H_Leveransdatum" type="xs:dateTime" />
                    <xs:element name="H_S_Identitet" type="xs:string" />
                    <xs:element name="H_S_Typ_av_identitet" type="xs:string" />
                    <xs:element name="H_S_Sate" type="xs:string" />
                    <xs:element name="H_S_Namn" type="xs:string" />
					<xs:element name="H_S_Namn2" type="xs:string" />
					<xs:element name="H_S_GataBox" type="xs:string" />
                    <xs:element name="H_S_Postnr" type="xs:string" />
                    <xs:element name="H_S_Ort" type="xs:string" />
                    <xs:element name="H_S_Land" type="xs:string" />
                    <xs:element name="H_S_Momsregistreringsnr" type="xs:string" />
                    <xs:element name="H_S_Organisationsnr" type="xs:string" />
                    <xs:element name="H_S_Betalningsinformation" type="xs:string" />
                    <xs:element name="H_S_Bankgiro" type="xs:string" />
                    <xs:element name="H_S_Postgiro" type="xs:string" />
                    <xs:element name="H_S_Bankkonto" type="xs:string" />
                    <xs:element name="H_S_IBAN" type="xs:string" />
                    <xs:element name="H_S_SWIFT" type="xs:string" />
                    <xs:element name="H_K_Identitet" type="xs:string" />
                    <xs:element name="H_K_Typ_av_identitet" type="xs:string" />
                    <xs:element name="H_K_Namn" type="xs:string" />
					<xs:element name="H_K_Namn2" type="xs:string" />
					<xs:element name="H_K_GataBox" type="xs:string" />
                    <xs:element name="H_K_Postnr" type="xs:string" />
                    <xs:element name="H_K_Ort" type="xs:string" />
                    <xs:element name="H_K_Land" type="xs:string" />
                    <xs:element name="H_K_Momsregistreringsnr" type="xs:string" />
                    <xs:element name="H_K_Organisationsnr" type="xs:string" />
                    <xs:element name="H_K_Kundnr" type="xs:string" />
                    <xs:element name="H_F_Identitet" type="xs:string" />
                    <xs:element name="H_F_Typ_av_identitet" type="xs:string" />
                    <xs:element name="H_F_Namn" type="xs:string" />
					<xs:element name="H_F_Namn2" type="xs:string" />
					<xs:element name="H_F_GataBox" type="xs:string" />
                    <xs:element name="H_F_Postnr" type="xs:string" />
                    <xs:element name="H_F_Ort" type="xs:string" />
                    <xs:element name="H_F_Land" type="xs:string" />
                    <xs:element name="H_F_Organisationsnr" type="xs:string" />
                    <xs:element name="H_Faktmot_momsregnr" type="xs:string" />
                    <xs:element name="H_L_Identitet" type="xs:string" />
                    <xs:element name="H_L_Typ_av_identitet" type="xs:string" />
                    <xs:element name="H_L_Namn" type="xs:string" />
					<xs:element name="H_L_Namn2" type="xs:string" />
					<xs:element name="H_L_GataBox" type="xs:string" />
                    <xs:element name="H_L_Godsadress" type="xs:string" />
                    <xs:element name="H_L_Postnr" type="xs:string" />
                    <xs:element name="H_L_Ort" type="xs:string" />
                    <xs:element name="H_L_Land" type="xs:string" />
                    <xs:element name="H_SK_Slutkund_Namn" type="xs:string" />
                    <xs:element name="H_SK_Slutkund_GataBox" type="xs:string" />
                    <xs:element name="H_SK_Slutkund_Postnr" type="xs:string" />
                    <xs:element name="H_SK_Slutkund_Ort" type="xs:string" />
                    <xs:element name="H_Bet_Valuta" type="xs:string" />
                    <xs:element name="H_Bet_Villkor_Kod" type="xs:string" />
                    <xs:element name="H_Bet_Villkor_Text1" type="xs:string" />
                    <xs:element name="H_Bet_Villkor_Text2" type="xs:string" />
                    <xs:element name="H_Lev_Typ" type="xs:string" />
                    <xs:element name="H_Lev_Villkor_Kod" type="xs:string" />
                    <xs:element name="H_Lev_Plats" type="xs:string" />
                    <xs:element name="H_Summa_Detaljrader" type="xs:decimal" />
                    <xs:element name="H_Summa_TillAvdr" type="xs:decimal" />
                    <xs:element name="H_Summa_ExklMoms" type="xs:decimal" />
                    <xs:element name="H_Oresutjamning" type="xs:decimal" />
                    <xs:element name="H_Att_betala" type="xs:decimal" />
                    <xs:element name="H_Rabattdatum" type="xs:dateTime" />
                    <xs:element name="H_Avsandningsdatum" type="xs:dateTime" />
                    <xs:element name="H_Specialvillkor" type="xs:string" />
                    <xs:element name="H_S_KONTAKT_Namn" type="xs:string" />
                    <xs:element name="H_S_KONTAKT_E-post" type="xs:string" />
                    <xs:element name="H_S_KONTAKT_Fax" type="xs:string" />
                    <xs:element name="H_S_KONTAKT_Telefon" type="xs:string" />
                    <xs:element name="H_K_KONTAKT_Namn" type="xs:string" />
                    <xs:element name="H_K_KONTAKT_E-post" type="xs:string" />
                    <xs:element name="H_K_KONTAKT_Fax" type="xs:string" />
                    <xs:element name="H_K_KONTAKT_Telefon" type="xs:string" />
                    <xs:element name="H_L_KONTAKT_Namn" type="xs:string" />
                    <xs:element name="H_L_KONTAKT_E-post" type="xs:string" />
                    <xs:element name="H_L_KONTAKT_Fax" type="xs:string" />
                    <xs:element name="H_L_KONTAKT_Telefon" type="xs:string" />
                    <xs:element name="H_F_KONTAKT_Namn" type="xs:string" />
                    <xs:element name="H_F_KONTAKT_E-post" type="xs:string" />
                    <xs:element name="H_F_KONTAKT_Fax" type="xs:string" />
                    <xs:element name="H_F_KONTAKT_Telefon" type="xs:string" />
                    <xs:element name="H_TA_Typ1" type="xs:string" />
                    <xs:element name="H_TA_Indikator1" type="xs:string" />
                    <xs:element name="H_TA_Belopp1" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning1" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent1" type="xs:decimal" />
                    <xs:element name="H_TA_Typ2" type="xs:string" />
                    <xs:element name="H_TA_Indikator2" type="xs:string" />
                    <xs:element name="H_TA_Belopp2" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning2" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent2" type="xs:decimal" />
                    <xs:element name="H_TA_Typ3" type="xs:string" />
                    <xs:element name="H_TA_Indikator3" type="xs:string" />
                    <xs:element name="H_TA_Belopp3" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning3" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent3" type="xs:decimal" />
                    <xs:element name="H_TA_Typ4" type="xs:string" />
                    <xs:element name="H_TA_Indikator4" type="xs:string" />
                    <xs:element name="H_TA_Belopp4" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning4" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent4" type="xs:decimal" />
                    <xs:element name="H_TA_Typ5" type="xs:string" />
                    <xs:element name="H_TA_Indikator5" type="xs:string" />
                    <xs:element name="H_TA_Belopp5" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning5" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent5" type="xs:decimal" />
                    <xs:element name="H_TA_Typ6" type="xs:string" />
                    <xs:element name="H_TA_Indikator6" type="xs:string" />
                    <xs:element name="H_TA_Belopp6" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning6" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent6" type="xs:decimal" />
                    <xs:element name="H_TA_Typ7" type="xs:string" />
                    <xs:element name="H_TA_Indikator7" type="xs:string" />
                    <xs:element name="H_TA_Belopp7" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning7" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent7" type="xs:decimal" />
                    <xs:element name="H_TA_Typ8" type="xs:string" />
                    <xs:element name="H_TA_Indikator8" type="xs:string" />
                    <xs:element name="H_TA_Belopp8" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning8" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent8" type="xs:decimal" />
                    <xs:element name="H_TA_Typ9" type="xs:string" />
                    <xs:element name="H_TA_Indikator9" type="xs:string" />
                    <xs:element name="H_TA_Belopp9" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning9" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent9" type="xs:decimal" />
                    <xs:element name="H_TA_Typ10" type="xs:string" />
                    <xs:element name="H_TA_Indikator10" type="xs:string" />
                    <xs:element name="H_TA_Belopp10" type="xs:decimal" />
                    <xs:element name="H_TA_Beskrivning10" type="xs:string" />
                    <xs:element name="H_TA_Momsprocent10" type="xs:decimal" />
                    <xs:element name="H_ANM_IP1" type="xs:string" />
                    <xs:element name="H_ANM_IP2" type="xs:string" />
                    <xs:element name="H_ANM_IP3" type="xs:string" />
                    <xs:element name="H_ANM_IP4" type="xs:string" />
                    <xs:element name="H_ANM_IP5" type="xs:string" />
                    <xs:element name="H_ANM_LA1" type="xs:string" />
                    <xs:element name="H_ANM_LA2" type="xs:string" />
                    <xs:element name="H_ANM_LA3" type="xs:string" />
                    <xs:element name="H_ANM_LA4" type="xs:string" />
                    <xs:element name="H_ANM_LA5" type="xs:string" />
                    <xs:element name="H_ANM_Omv_Skatt_Bygg1" type="xs:string" />
                    <xs:element name="H_REF_Projektnr" type="xs:string" />
                    <xs:element name="H_REF_Slutkunds_referensnr" type="xs:string" />
                    <xs:element name="H_REF_Leveransavi" type="xs:string" />
                    <xs:element name="H_REF_Konto" type="xs:string" />
                    <xs:element name="H_REF_EDI-avtalsnr" type="xs:string" />
                    <xs:element name="H_REF_Markning" type="xs:string" />
                    <xs:element name="H_REF_Avser_faktura" type="xs:string" />
                    <xs:element name="H_REF_Avtal" type="xs:string" />
                    <xs:element name="H_REF_Koparens_referens" type="xs:string" />
                    <xs:element name="H_REF_Betalningsreferens" type="xs:string" />
                    <xs:element name="H_REF_Saljarens_bestnr" type="xs:string" />
                    <xs:element name="H_REF_Saljarens_kundnr" type="xs:string" />
                    <xs:element name="H_REF_Markning_2_SVE" type="xs:string" />
					<xs:element name="H_REF_XPOS" type="xs:string" />
					<xs:element name="H_REF_Gruppkonto" type="xs:string" />
					<xs:element name="H_MOMS_Miljomoms_belopp" type="xs:decimal" />
					<xs:element name="H_MOMS_Typ1" type="xs:string" />
                    <xs:element name="H_MOMS_Procent1" type="xs:decimal" />
                    <xs:element name="H_MOMS_Momspliktigt_belopp1" type="xs:decimal" />
                    <xs:element name="H_MOMS_Momsbelopp1" type="xs:decimal" />
					<xs:element name="H_MOMS_Kategori1" type="xs:string" />
					<xs:element name="H_MOMS_Typ2" type="xs:string" />
                    <xs:element name="H_MOMS_Procent2" type="xs:decimal" />
                    <xs:element name="H_MOMS_Momspliktigt_belopp2" type="xs:decimal" />
                    <xs:element name="H_MOMS_Momsbelopp2" type="xs:decimal" />
					<xs:element name="H_MOMS_Kategori2" type="xs:string" />
					<xs:element name="H_MOMS_Typ3" type="xs:string" />
                    <xs:element name="H_MOMS_Procent3" type="xs:decimal" />
                    <xs:element name="H_MOMS_Momspliktigt_belopp3" type="xs:decimal" />
                    <xs:element name="H_MOMS_Momsbelopp3" type="xs:decimal" />
					<xs:element name="H_MOMS_Kategori3" type="xs:string" />
                    <xs:element name="H_Orderdatum" type="xs:dateTime" />
					<xs:element name="H_Filskapatdatum" type="xs:dateTime" />
					<xs:element name="H_FILE_MIMECODE_1" type="xs:string" />
					<xs:element name="H_FILE_NAME_1" type="xs:string" />
					<xs:element name="H_FILE_FORMAT_1" type="xs:string" />
					<xs:element name="H_FILE_CONTENT_1" type="xs:string" />
					<xs:element name="H_FILE_ID_1" type="xs:string" />
				  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="FAKTURARAD" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element name="R_Posttyp" type="xs:string" />
                    <xs:element name="R_Radnr" type="xs:string" />
                    <xs:element name="R_Artikelnr_EAN" type="xs:string" />
                    <xs:element name="R_Artikelnr_Koparens" type="xs:string" />
                    <xs:element name="R_Artikelnr_Saljarens" type="xs:string" />
                    <xs:element name="R_Artikelnr_RSK" type="xs:string" />
                    <xs:element name="R_Artikelnr_Branschens" type="xs:string" />
                    <xs:element name="R_Beskrivning1" type="xs:string" />
                    <xs:element name="R_Beskrivning2" type="xs:string" />
                    <xs:element name="R_Kvantitet" type="xs:decimal" />
                    <xs:element name="R_Enhet" type="xs:string" />
                    <xs:element name="R_Kvantitet_levererad" type="xs:decimal" />
                    <xs:element name="R_Enhet_levererad" type="xs:string" />
                    <xs:element name="R_Kvantitet_bestalld" type="xs:decimal" />
                    <xs:element name="R_Enhet_bestalld" type="xs:string" />
                    <xs:element name="R_Kvantitet_konsumtion" type="xs:decimal" />
                    <xs:element name="R_Enhet_konsumtion" type="xs:string" />
                    <xs:element name="R_Nettopris" type="xs:decimal" />
                    <xs:element name="R_Pris" type="xs:decimal" />
                    <xs:element name="R_Prisbas" type="xs:decimal" />
                    <xs:element name="R_Summa" type="xs:decimal" />
                    <xs:element name="R_Momsbelopp" type="xs:decimal" />
                    <xs:element name="R_Momsprocent" type="xs:decimal" />
					<xs:element name="R_Momstyp" type="xs:string" />
					<xs:element name="R_Momskategori" type="xs:string" />
					<xs:element name="R_Miljomoms_belopp" type="xs:decimal" />
					<xs:element name="R_Koparens_konto" type="xs:string" />
                    <xs:element name="R_Koparens_bestnr" type="xs:string" />
                    <xs:element name="R_Koparens_bestradnr" type="xs:string" />
					<xs:element name="R_Saljarens_bestnr" type="xs:string" />
					<xs:element name="R_Saljarens_bestradnr" type="xs:string" />
					<xs:element name="R_Leveransdatum" type="xs:dateTime" />
                    <xs:element name="R_Avsandningsdatum" type="xs:dateTime" />
                    <xs:element name="R_Specialvillkor" type="xs:string" />
                    <xs:element name="R_SpecialvillkorText" type="xs:string" />
                    <xs:element name="R_Projektnr" type="xs:string" />
                    <xs:element name="R_Leveransavinr" type="xs:string" />
					<xs:element name="R_Slutkunds_referensnr" type="xs:string" />
					<xs:element name="R_Gruppkonto" type="xs:string" />
					<xs:element name="R_CertPEFCReferenceNo" type="xs:string" />
					<xs:element name="R_CertPEFCReferencePercent" type="xs:decimal" />
					<xs:element name="R_CertFSCReferenceNo" type="xs:string" />
					<xs:element name="R_CertFSCReferencePercent" type="xs:decimal" />
					<xs:element name="R_Markning" type="xs:string" />
					<xs:element name="R_Artikelnr_FinfoVilma" type="xs:string" />										
                    <xs:element name="R_ANM_LA1" type="xs:string" />
                    <xs:element name="R_ANM_LA2" type="xs:string" />
                    <xs:element name="R_ANM_LA3" type="xs:string" />
                    <xs:element name="R_ANM_LA4" type="xs:string" />
                    <xs:element name="R_ANM_LA5" type="xs:string" />
                    <xs:element name="R_TA_Ej_rabattkedja" type="xs:string" />
                    <xs:element name="R_TA_Just1_Procent" type="xs:decimal" />
                    <xs:element name="R_TA_Just1_Belopp" type="xs:decimal" />
                    <xs:element name="R_TA_Just1_Beskrivning" type="xs:string" />
                    <xs:element name="R_TA_Just2_Procent" type="xs:decimal" />
                    <xs:element name="R_TA_Just2_Belopp" type="xs:decimal" />
                    <xs:element name="R_TA_Just2_Beskrivning" type="xs:string" />
                    <xs:element name="R_TA_Just3_Procent" type="xs:decimal" />
                    <xs:element name="R_TA_Just3_Belopp" type="xs:decimal" />
                    <xs:element name="R_TA_Just3_Beskrivning" type="xs:string" />
                    <xs:element name="R_TA_Just4_Procent" type="xs:decimal" />
                    <xs:element name="R_TA_Just4_Belopp" type="xs:decimal" />
                    <xs:element name="R_TA_Just4_Beskrivning" type="xs:string" />
                    <xs:element name="R_TA_Just5_Procent" type="xs:decimal" />
                    <xs:element name="R_TA_Just5_Belopp" type="xs:decimal" />
                    <xs:element name="R_TA_Just5_Beskrivning" type="xs:string" />
                    <xs:element name="R_TA_Just6_Procent" type="xs:decimal" />
                    <xs:element name="R_TA_Just6_Belopp" type="xs:decimal" />
                    <xs:element name="R_TA_Just6_Beskrivning" type="xs:string" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="FAKTURAFOT" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded">
                    <xs:element name="F_Posttyp" type="xs:string" />
                    <xs:element name="F_Summa_Detaljrader" type="xs:decimal" />
                    <xs:element name="F_Summa_TillAvdr" type="xs:decimal" />
                    <xs:element name="F_Summa_ExklMoms" type="xs:decimal" />
                    <xs:element name="F_Oresutjamning" type="xs:decimal" />
                    <xs:element name="F_Att_betala" type="xs:decimal" />
                    <xs:element name="F_TA_Typ1" type="xs:string" />
                    <xs:element name="F_TA_Indikator1" type="xs:string" />
                    <xs:element name="F_TA_Belopp1" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning1" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent1" type="xs:decimal" />
                    <xs:element name="F_TA_Typ2" type="xs:string" />
                    <xs:element name="F_TA_Indikator2" type="xs:string" />
                    <xs:element name="F_TA_Belopp2" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning2" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent2" type="xs:decimal" />
                    <xs:element name="F_TA_Typ3" type="xs:string" />
                    <xs:element name="F_TA_Indikator3" type="xs:string" />
                    <xs:element name="F_TA_Belopp3" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning3" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent3" type="xs:decimal" />
                    <xs:element name="F_TA_Typ4" type="xs:string" />
                    <xs:element name="F_TA_Indikator4" type="xs:string" />
                    <xs:element name="F_TA_Belopp4" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning4" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent4" type="xs:decimal" />
                    <xs:element name="F_TA_Typ5" type="xs:string" />
                    <xs:element name="F_TA_Indikator5" type="xs:string" />
                    <xs:element name="F_TA_Belopp5" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning5" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent5" type="xs:decimal" />
                    <xs:element name="F_TA_Typ6" type="xs:string" />
                    <xs:element name="F_TA_Indikator6" type="xs:string" />
                    <xs:element name="F_TA_Belopp6" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning6" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent6" type="xs:decimal" />
                    <xs:element name="F_TA_Typ7" type="xs:string" />
                    <xs:element name="F_TA_Indikator7" type="xs:string" />
                    <xs:element name="F_TA_Belopp7" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning7" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent7" type="xs:decimal" />
                    <xs:element name="F_TA_Typ8" type="xs:string" />
                    <xs:element name="F_TA_Indikator8" type="xs:string" />
                    <xs:element name="F_TA_Belopp8" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning8" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent8" type="xs:decimal" />
                    <xs:element name="F_TA_Typ9" type="xs:string" />
                    <xs:element name="F_TA_Indikator9" type="xs:string" />
                    <xs:element name="F_TA_Belopp9" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning9" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent9" type="xs:decimal" />
                    <xs:element name="F_TA_Typ10" type="xs:string" />
                    <xs:element name="F_TA_Indikator10" type="xs:string" />
                    <xs:element name="F_TA_Belopp10" type="xs:decimal" />
                    <xs:element name="F_TA_Beskrivning10" type="xs:string" />
                    <xs:element name="F_TA_Momsprocent10" type="xs:decimal" />
                    <xs:element name="F_MOMS_Typ1" type="xs:string" />
                    <xs:element name="F_MOMS_Procent1" type="xs:decimal" />
                    <xs:element name="F_MOMS_Momspliktigt_belopp1" type="xs:decimal" />
                    <xs:element name="F_MOMS_Momsbelopp1" type="xs:decimal" />
					<xs:element name="F_MOMS_Kategori1" type="xs:string" />
					<xs:element name="F_MOMS_Typ2" type="xs:string" />
                    <xs:element name="F_MOMS_Procent2" type="xs:decimal" />
                    <xs:element name="F_MOMS_Momspliktigt_belopp2" type="xs:decimal" />
                    <xs:element name="F_MOMS_Momsbelopp2" type="xs:decimal" />
					<xs:element name="F_MOMS_Kategori2" type="xs:string" />
					<xs:element name="F_MOMS_Typ3" type="xs:string" />
                    <xs:element name="F_MOMS_Procent3" type="xs:decimal" />
                    <xs:element name="F_MOMS_Momspliktigt_belopp3" type="xs:decimal" />
                    <xs:element name="F_MOMS_Momsbelopp3" type="xs:decimal" />
					<xs:element name="F_MOMS_Kategori3" type="xs:string" />
				  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>